<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <env name="GAZEBO_MODEL_PATH" value="$(find social_robot_nav)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find social_robot_nav)/worlds/simple_office_with_people.world"/>
    <arg name="paused" value="false"/>
  </include>
</launch>
