<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find social_robot_nav)/maps/map.yaml"/>

  <!-- TurtleBot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find social_robot_nav)/launch/amcl.launch"/>

  <!-- Move Base -->
  <include file="$(find social_robot_nav)/launch/move_base.launch"/>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find social_robot_nav)/rviz/rviz_navigation.rviz"/>

</launch>